* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inika;
    
}

body {
    max-width: 1440px;
}

header{
    background: #EDF2EC;
    height: 134px;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

.header {
    display: flex;
    padding-top: 42px;
    align-items: center;
}

.header .header_logo{
    min-width: 80px;
    min-height: 21px;
}

.header .header_nav{
    min-width: 452px;
    min-height: 50px;
    margin-left: 655px;
}

.header .header_items{
    display: flex;
}

.header .header_item{
    padding-left: 44px;
    list-style-type: none;
}

.header .header_link{
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}

.welcome {
    height: 532px;
    background: #EDF2EC;
}

.welcome .main_welcome{
    display: flex;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 50px;
    color: #717171;
}

h1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #499A18;
}


.main .main_img{
    padding-top: 62px;
}

.main .main_title{
    padding-top: 98px;
    padding-left: 212px;
}

.main .main_lorem{
    padding-top: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.main .btn{
    margin-top: 48px;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
}

.main .btn span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.main .about{
    height: 666px;
    background: #FFFFFF;
}

.main .about .about_wrapper{
    display: flex;    
}

.about .main_about{
    padding-top: 161px;
}

.about .main_about h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.about .main_about h2 span {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
}

.about .main_about .about_lorem{
    min-width: 655px;
    min-height: 208px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #636060;
}



.about_houseplanet{
    padding-top: 93px;
    padding-left: 110px;
     
}

.main .service{
    height: 1300px;
    background: #EDF2EC;
}

.main .service .service_wrapper{
    display: flex;
    min-width: 1007px;
    min-height: 94px;   
}

.main .service .service_wrapper h2{
    width: 306px;
    height: 94px;
    padding-top: 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    
    color: #499A18;
}


.main .service .service_wrapper .service_btn{
    padding-left: 138px;
    min-width: 559px;
    height: 50px;
}

.main .service .service_wrapper .service_btn .btn{
    width: 161px;
    height: 50px;
    margin-right: 32px;
    margin-top: 69px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

.main .service .service_items{
    min-height: 955px;
    display:grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 450px 450px 450px;
    column-gap: 116px;
    row-gap: 55px;
}

.main .service .service_items .service_item{
    padding-top: 130px;
    
}

.main .service .service_items .service_item .service_descr{
    min-width: 330px;
    min-height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}



.main .service .service_items .service_item .service_descr h2{
    min-width: 120px;
    min-height: 24px;
    padding-left: 105px;
    padding-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 20px;
    color: #E06733;
}

.main .service .service_items .service_item .service_descr .descr_text{
    min-width: 267.19px;
    min-height: 20px;
    padding-top: 15px;
    padding-left:30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #717171;
}


.main .prices{
    height: 525px;
    background: #FFFFFF;
}

.main .prices .prices_wrapper{
    display: flex;
    min-height: 405px;
    margin-top: 40px;
    margin-bottom: 115px;
}

.main .prices .prices_wrapper .prices_item h2{
    width: 135px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 48px;
    color: #000000;
}

.main .prices .prices_wrapper .prices_item .prices_button{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 35px;
    width: 250px;
    min-height: 100px;
}

.main .prices .prices_wrapper .prices_item .prices_button .rbtn{
   margin-top: 32px;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    
    }

.main .prices .prices_wrapper .prices_item .prices_button .rbtn span{
    margin-right: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    line-height: 20px;
    color: #000000;
}

.main .prices .prices_wrapper .prices_contact {
    width: 452px;
    height: 191px;
    margin-left: 481px;

}

.main .prices .prices_wrapper .prices_contact h2{
    width: 452px;
    height: 103px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #000000;
}

.main .prices .prices_wrapper .prices_contact h2 span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #499A18;
}
.main .prices .prices_wrapper .prices_contact .span_right{
    padding-left: 118px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #000000;
}

.main .prices .prices_wrapper .prices_contact .prices_button{
    width: 162px;
    height: 50px;
    padding-left:292px;
    
}

.main .prices .prices_wrapper .prices_contact .practies_img{
    width: 152px;
    height: 174.99px;
    padding-top: 64px;
    padding-left: 292px;
}

.main .contacts{
    height: 550px;
    background: #EDF2EC;
}

.main .contacts .contacts_wrapper{
    display: flex;
}



.main .contacts .contacts_wrapper .img_woman{
    padding-top: 53px;
    width: 400px;
    min-height: 496px;
}

.main .contacts .contacts_wrapper h2{
    margin-left: 113px;
    margin-top: 60px;
    width: 195px;
    height: 51px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;

}

.main .contacts .contacts_wrapper .contacts_btn .contacts_button{
    width: 450px;
    height: 50px;
    margin-left: 64px;
    margin-top: 148px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.main .contacts .contacts_wrapper .contacts_btn .contacts_button span{
    padding-right:378px;
    min-width: 204px;
    height: 40px;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #717171;
}



.footer{
    height: 130px;
    background: #FFFFFF;
}

.footer .footer_wrapper{
    display: flex;
    padding-top: 40px;
}

.footer .footer_wrapper .footer_nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    color: #000000;
    
}

.footer .footer_wrapper .footer_nav span{
    padding-right: 20px;
}

.nav_github{
    text-decoration: none;
    color: #000000;
}

.footer .footer_wrapper .footer_course{
    padding-left: 280px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 50px;
    color: #000000;
}

.footer .footer_wrapper .footer_course a{
    text-decoration: none;
    color: #000000;
}

.footer .footer_wrapper .footer_link{
    padding-top:8px;
    padding-left: 317px;
    min-width: 188px;
    min-height: 50px;
}

.footer .footer_wrapper .footer_link .footer_network{
    margin-right: 11px;
}


